* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  padding: 20px 24px;
  gap: 20px;
  align-items: center;
  background: #1a1a1a;
  border-radius: 10px;
  margin: 5px;
  width: 70%;
  transition: all 0.5s;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(174, 174, 174);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: #ffcc02;
  font-size: 24px;
}

.description {
  color: #dadada;
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: #ffcc02;
  font-size: 20px;
}


@media screen and (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
  }
    
}