* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

.card {
  background: linear-gradient(135deg, #ff3cac, #784ba0, #2b86c5);
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card2 {
  background: #242d5c;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 10%;
  margin-top: 5vw;
  margin-bottom: 5vw;
  overflow: hidden;
}

.card .logo img {
  width: 100px;
}

@media (max-width: 1024px) {
  .card {
    height: auto;
    padding: 20px;
  }

  .card2 {
    width: 70%;
    height: auto;
    margin-top: 8vw;
    margin-bottom: 8vw;
  }

  .card .logo img {
    width: 90px;
  }
}

@media (max-width: 768px) {
  .card {
    height: auto;
    padding: 20px;
  }

  .card2 {
    width: 80%;
    height: auto;
  }

  .card .logo img {
    width: 80px;
  }
}

@media (max-width: 425px) {
  .card {
    height: 100vh;
    padding: 15px;
  }

  .card2 {
    width: 90%;
    height: auto;
  }

  .card .logo img {
    width: 70px;
  }
}

@media (max-width: 375px) {
  .card {
    height: 100vh;
    padding: 10px;
  }

  .card2 {
    width: 95%;
    height: auto;
    margin-top: 14vw;
    margin-bottom: 14vw;
  }

  .card .logo img {
    width: 60px;
  }
}
