
.form {
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
}

.input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  color: white !important;
  background-color: black !important;
}

.button {
  background-color: #ff0033;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.label {
  color: var(--yellow-forms);
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
  font-size: large;
}

.link {
  color: #ffce00;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  font-weight: bold;
  font-size: large;
}

.link:hover {
  text-decoration: underline;
}