.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
}

.mainContent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px;
}
