.cardContainer {
    align-items: center;
    display: flex;
    justify-content: center;
}

.card {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 500px;
}

.titleForm {
    font-family: 'Roboto', sans-serif;
    color: #ffcc01;
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0px 28px 0px;
}

.inputForm {
    border-radius: 8px;
    display: block;
    margin: 2px auto 12px auto !important;
    padding: 10px;
    width: 72%;
}

.labelForm {
    font-family: 'Roboto', sans-serif;
    color: #ffcc01;
    font-size: 12px;
    margin-bottom: 10px;
}

.buttonForm {
    margin-top: 12px;
    background-color: #ddb102;
    border-radius: 5px;
    border: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 20px;
}