.page {
  padding: 30px;
  background: linear-gradient(135deg, #ff3cac, #784ba0, #2b86c5);   
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  text-align: center;
  color: #FFCC02;
  font-size: 44px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;
  overflow: auto;
}
