.header {
    background-color: var(--header-bg);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.header a {
    text-decoration: none;
}

.logo {
    height: 60px;
    width: 60px;
}

.logo img {
    width: 100%;
}

.shareButton{
    margin-right: 1rem;
}

.score {
    color: var(--header-text);
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.score a {
    color: var(--header-text);
}

.score a:hover{
    text-decoration: underline;
}

.dummy {
    background-color: #ffcc01;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border-radius: 50%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}