.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.textLabel {
  color: var(--yellow-forms);
  font-weight: bolder;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputs,
.sendButton {
  width: 100%;
  max-width: 400px;
  height: 4.5vh;
  border-radius: 8px;
  border: none;
}

.inputs {
  background: #1c2733;
  color: white;
  padding: 0px 10px;
}

.sendButton {
  background: #fe0000;
  color: #fff;
  font-size: large;
  font-weight: bolder;
}

.contentSpan {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 2vh;
}

.spanText {
  color: var(--yellow-forms);
  text-align: center;
  text-wrap: nowrap;
}

.linkText {
  color: var(--yellow-forms);
  text-decoration: none;
  margin-left: 10px;
}

@media (max-width: 1024px) {

  .inputs,
  .sendButton {
    height: 5vh;
  }

  .sendButton {
    font-size: 1rem;
  }

  .contentSpan {
    padding: 8px;
    margin-top: 1.5vh;
  }
}

@media (max-width: 768px) {

  .inputs,
  .sendButton {
    height: 5.5vh;
  }

  .sendButton {
    font-size: 0.9rem;
  }

  .contentSpan {
    padding: 6px;
    margin-top: 1vh;
  }
}

@media (max-width: 425px) {

  .inputs,
  .sendButton {
    height: 6vh;
  }

  .sendButton {
    font-size: 0.8rem;
  }

  .contentSpan {
    padding: 5px;
    margin-top: 1vh;
  }
}

@media (max-width: 375px) {

  .inputs,
  .sendButton {
    height: 3vh;
  }

  .sendButton {
    font-size: 0.8rem;
  }

  .contentSpan {
    padding: 5px;
    margin-top: 1vh;
  }
}